// 1.- Config
@import "utilities/config.styl"

// 2.- Base
@import "base/_normalize.styl"
@import "base/_reset.styl"
@import "base/_icons.styl"
@import "base/_sprite.styl"

// 3.- Utilities
// ---- Mixins
@import "utilities/_mixins/mixins.styl"
@import "utilities/_mixins/prefix.styl"
@import "utilities/resource.styl"

// ---- Libs
@import "utilities/_libs/bxslider.styl"
@import "utilities/_libs/fancybox.styl"
@import "utilities/_libs/parsley.styl"
@import "utilities/_libs/malihu.styl"

// 4.- Layout
//@import "layout/_loader.styl"
@import "layout/_footer.styl"
@import "layout/_header.styl"

// 5.- Modules
@import "modules/comunity/comunity.styl"

// 6.- States
@import "states/responsive/_mediaqueries.styl"
//@import "states/responsive/_print.styl"